.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.filter-container {
  height: 100%;
  position: relative;
}

.filter-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.filters {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
