.logo {
  margin-left: 20px;
}

.auth-button,
.logo-icon {
  margin-right: 20px;
}

.header-controls {
  display: flex;
}

.header-search {
  margin-right: 10px;
}

.header-search .search-bar {
  margin-bottom: 0;
  height: auto;
}

.header-search .search {
  border: 1px solid #dc3545;
  border-right: none;
  padding: 4px 25px 5px 25px;
}

.header-search .search,
.header-search .search-icon {
  font-size: 1.3rem;
}

.header-search .search-icon {
  padding: 3px 0 3px 0;
}

.header-search .search-icon:hover .fa-search {
  color: #ffffff !important;
}
