.random {
  flex-wrap: wrap;
}

.random-image {
  width: 100%;
  max-width: 100%;
}

.random-image-link {
  height: 100%;
}

.random-description {
  padding: 30px;
  width: 100%;
  height: 100%;
}

.random-description-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.random-drink {
  padding: 0;
  display: flex;
  align-items: center;
}

.random-link {
  margin-left: 10px;
  transition: margin 0.5s;
}

.random-drink:hover .random-link {
  margin-left: 17px;
}

.random-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.random-drink-title {
  max-width: calc(100% - 31px);
}

.randomize,
.randomize button {
  width: 100%;
}

.randomize-icon {
  margin-right: 15px;
}

@media (min-width: 768px) {
  .random {
    flex-wrap: nowrap;
  }

  .random-image-container {
    padding-right: 0;
  }

  .random-description-container {
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .random-image-container {
    padding: 0;
    height: 33vw;
    margin-left: 15px;
  }

  .random-image-link {
    height: 33vw;
  }

  .random-image {
    height: 33vw;
    object-fit: cover;
  }

  .random-description-container {
    height: 33vw;
    padding-right: 30px;
    padding-left: 0;
    margin: 0;
  }

  .random-description {
    padding: 15px;
  }

  .random-title {
    margin-top: 0;
    margin-bottom: 0;
  }
}
